<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minli's ERC Calculator</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>
<body style="overflow: scroll;">
    <section class="header">
        <nav>
            <a href="index"><img src="../static/image/logo.png"></a>
            <div class="nav-links" id="navLinks">
                <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="eligibility">Eligibility</a></li>
                    <li><a href="estimate">Estimate Your ERC</a></li>
                    <li><a href="FAQ">FAQ</a></li>
                    <li><a href="contact">CONTACT</a></li>
                </ul>
            </div>
        </nav>
        <h1>&nbsp;</h1>
    </section>

    <section>
        <div class="text-box">
            <h1>Get paid back for KEEPING EMPLOYEES</h1>
            <p>The Employee Retention Credit (ERC) is a refundable tax credit for businesses that kept employees on payroll during the COVID-19 pandemic.<br> Eligible businesses can receive up to $26,000 per employee across 2020 and 2021.</p>
            <a href="FAQ" class="hero-btn">Click Here Know More</a>
        </div>
    </section>

<!----JavaScript for menu---->
<script>
    var navLinks = document.getElementById("navLinks");

    function showMenu() {
        navLinks.style.right = "0";
    }

    function hideMenu() {
        navLinks.style.right = "-200px";
    }
</script> 




</body>
</html>

















